[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i /home/frukun/wallpapers/img/wall-329.png
Restart=on-failure
