[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 200 "swaylock -f" timeout 210 "niri msg action power-off-monitors" timeout 600 "systemctl suspend" before-sleep "swaylock -f"
Restart=on-failure
